<h2 class="text-danger">Pokemon App</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    routerLink="pokemon/lista"
    routerLinkActive="active"
  >
    Buscar
  </li>
  <li
    class="list-group-item"
    routerLink="pokemon/lista-equipos"
    routerLinkActive="active"
  >
    Listado de equipos
  </li>
  <li
    class="list-group-item"
    routerLink="pokemon/habilidades"
    routerLinkActive="active"
  >
    Pokemon por habilidad
  </li>
  <li
    class="list-group-item"
    routerLink="pokemon/crear-equipo"
    routerLinkActive="active"
  >
    Crear Equipo Pokemon
  </li>
</ul>
